{% extends 'base.html.twig' %}

{% block body %}

    <nav class="navbar navbar-expand-md navbar-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="/assets/logo.png" alt="" height="40"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item {% if app.request.attributes.get('_route') == 'homepage' %}active{% endif %}">
                        <a class="nav-link" href="{{ url('homepage') }}">Programm</a>
                    </li>
                    <li class="nav-item {% if app.request.attributes.get('_route') == 'archive' %}active{% endif %}">
                        <a class="nav-link" href="{{ url('archive') }}">Archiv</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main role="main">

        <div class="container">

            <h2 class="text-white">{{ pageTitle }}</h2>

            {% for event in events %}

                <div class="row rounded py-3 border movie-card">

                    {% if event.category == 'documentation' %}
                        <div class="ribbon"><span>Doku</span></div>
                    {% else %}
                        <div class="ribbon blue"><span>Film</span></div>
                    {% endif %}

                    <div class="col-lg-4 col-6-12 mb-4 mb-lg-0">
                        <div>
                            <div class="img-wrapper">
                                {% if event.movie %}
                                <img src="{{ event.movie.posterImage|tmdb_image_url('original', null, 400)|raw }}" class="img-fluid rounded" alt="">
                                {% else %}
                                <img src="/assets/movies/{{ event.custom.image }}" class="img-fluid rounded" alt="">
                                {% endif %}
                                {% if event.videoKey %}
                                <div class="img-overlay">
                                    <button type="button" class="btn btn-lg btn-light" data-toggle="modal" data-video-key="{{ event.videoKey }}" data-video-title="{{ event.movie.title }}" data-target="#videoModal"><i class="fas fa-play"></i></button>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-12">
                        <h3>
                            {% if event.special %}
                                <span class="badge badge-primary"><i class="fas fa-certificate"></i> {{ event.date | date('D d.m.Y', false) }}</span>
                                <span class="badge badge-primary"><i class="fas fa-certificate"></i> {{ event.date | date('H:i', false) }}</span>
                            {% else %}
                                <span class="badge badge-secondary">{{ event.date | date('D d.m.Y', false) }}</span>
                                <span class="badge badge-secondary">{{ event.date | date('H:i', false) }}</span>
                            {% endif %}
                        </h3>

                        {% if event.movie %}
                            <h2>{{ event.movie.title }} <small>({{ event.movie.releaseDate | date('Y', false)  }})</small></h2>
                            <blockquote class="blockquote">
                                <p>{{ event.movie.tagline }}</p>
                            </blockquote>
                            <p><i>{{ event.movie.overview | truncate(300) }}</i></p>
                            <dl class="row">

                                <dt class="col-lg-4">Genre</dt>
                                <dd class="col-lg-8">
                                    {% for genre in event.movie.genres %}
                                        {{ genre.name }}{% if loop.last %}{% else %},{% endif %}
                                    {% endfor %}
                                </dd>

                                <dt class="col-lg-4">Originaltitel</dt>
                                <dd class="col-lg-8">{{ event.movie.originalTitle }}</dd>

                                <dt class="col-lg-4">Produktionsland</dt>
                                <dd class="col-lg-8">
                                    {% for productionCountrie in event.movie.productionCountries %}
                                        {{ productionCountrie.name }}{% if loop.last %}{% else %},{% endif %}
                                    {% endfor %}
                                </dd>

                                <dt class="col-lg-4">Spielzeit</dt>
                                <dd class="col-lg-8">{{ event.movie.runtime }} Min.</dd>

                                <dt class="col-lg-4">FSK</dt>
                                <dd class="col-lg-8">{{ event.certification }} Jahre</dd>

                            </dl>
                        {% else %}
                            <h2>{{ event.custom.title }}</h2>
                            <blockquote class="blockquote">
                                <p>{{ event.custom.tagline }}</p>
                            </blockquote>
                            <p><i>{{ event.custom.overview }}</i></p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

        </div>
    </main>

    <!-- Modal -->
    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="videoModalTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    <style>
        .movie-card {
            box-shadow: 0 0px 4px rgba(0,0,0,0.1);
            margin-bottom: 2em;
            background: #c4c4c4;
            position: relative;
        }

        .img-wrapper {
            position: relative;
            width: 100%;
        }

        .img-overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
        }

        .img-overlay:before {
            content: ' ';
            display: block;
            height: 40%;
        }

        /* Show it is fixed to the top */
        body {
            min-height: 75rem;
            padding-top: 5.5rem;
            background: #111;

        }

        /*
         * Custom translucent site header
         */

        .navbar {
            background-color: rgba(0, 0, 0, 1);
            -webkit-backdrop-filter: saturate(180%) blur(20px);
            backdrop-filter: saturate(180%) blur(20px);
        }
        .navbar a {
            transition: ease-in-out color .15s;
        }
        .navbar a:hover {
            text-decoration: none;
        }


        .ribbon {
            position: absolute;
            right: -5px; top: -5px;
            z-index: 1;
            overflow: hidden;
            width: 75px;
            height: 75px;
            text-align: right;
        }
        .ribbon span {
            font-size: 10px;
            color: #fff;
            text-transform: uppercase;
            text-align: center;
            font-weight: bold; line-height: 20px;
            transform: rotate(45deg);
            width: 100px; display: block;
            background: #79A70A;
            background: linear-gradient(#9BC90D 0%, #79A70A 100%);
            box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
            position: absolute;
            top: 19px; right: -21px;
        }
        .ribbon span::before {
            content: '';
            position: absolute;
            left: 0px; top: 100%;
            z-index: -1;
            border-left: 3px solid #79A70A;
            border-right: 3px solid transparent;
            border-bottom: 3px solid transparent;
            border-top: 3px solid #79A70A;
        }
        .ribbon span::after {
            content: '';
            position: absolute;
            right: 0%; top: 100%;
            z-index: -1;
            border-right: 3px solid #79A70A;
            border-left: 3px solid transparent;
            border-bottom: 3px solid transparent;
            border-top: 3px solid #79A70A;
        }
        .red span {background: linear-gradient(#F70505 0%, #8F0808 100%);}
        .red span::before {border-left-color: #8F0808; border-top-color: #8F0808;}
        .red span::after {border-right-color: #8F0808; border-top-color: #8F0808;}

        .blue span {background: linear-gradient(#2989d8 0%, #1e5799 100%);}
        .blue span::before {border-left-color: #1e5799; border-top-color: #1e5799;}
        .blue span::after {border-right-color: #1e5799; border-top-color: #1e5799;}


    </style>
{% endblock %}
{% block javascripts %}
    <script>
        $('#videoModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var videoKey = button.data('video-key');
            var videoTitle = button.data('video-title');
            var modal = $(this);
            modal.find('iframe').attr('src', 'https://www.youtube.com/embed/' + videoKey + "?autoplay=1");
            modal.find('#videoModalTitle').text(videoTitle);
        });
        $('#videoModal').on('hidden.bs.modal', function (event) {
            var modal = $(this);
            modal.find('iframe').removeAttr('src');
        });
    </script>
{% endblock %}
