{% extends 'base.html.twig' %}

{% block body %}
    <main role="main">

        <section class="jumbotron text-center">
            <div class="container">
                <a href="{{ url('homepage') }}"><h1 class="jumbotron-heading"><img src="/assets/logo.png" alt=""></h1></a>
            </div>
        </section>

        <div class="container text-center mb-5">
            <a class="btn btn-secondary" href="{{ url('homepage') }}" role="button">Programm</a>
            <a class="btn btn-secondary" href="{{ url('archive') }}" role="button">Archiv</a>
        </div>

        <div class="container">

            <h2 class="text-white">{{ pageTitle }}</h2>

            {% for event in events %}

                <div class="row rounded py-3 border movie-card">
                    <div class="col-lg-4 col-6">
                        <div>
                            <div class="img-wrapper">
                                {% if event.movie %}
                                <img src="{{ event.movie.posterImage|tmdb_image_url('original', null, 400)|raw }}" class="img-fluid rounded" alt="">
                                {% else %}
                                <img src="/assets/movies/{{ event.custom.image }}" class="img-fluid rounded" alt="">
                                {% endif %}
                                {% if event.videoKey %}
                                <div class="img-overlay">
                                    <button type="button" class="btn btn-lg btn-light" data-toggle="modal" data-video-key="{{ event.videoKey }}" data-video-title="{{ event.movie.title }}" data-target="#videoModal"><i class="fas fa-play"></i></button>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-6">
                        <h3>
                            {% if event.special %}
                                <span class="badge badge-primary"><i class="fas fa-certificate"></i> {{ event.date | date('D d.m.Y', false) }}</span>
                                <span class="badge badge-primary"><i class="fas fa-certificate"></i> {{ event.date | date('H:i', false) }}</span>
                            {% else %}
                                <span class="badge badge-secondary">{{ event.date | date('D d.m.Y', false) }}</span>
                                <span class="badge badge-secondary">{{ event.date | date('H:i', false) }}</span>
                            {% endif %}
                        </h3>

                        {% if event.movie %}
                            <h2>{{ event.movie.title }} <small>({{ event.movie.releaseDate | date('Y', false)  }})</small></h2>
                            <h5>Handlung</h5>
                            <blockquote class="blockquote">
                                <p>{{ event.movie.tagline }}</p>
                            </blockquote>
                            <p><i>{{ event.movie.overview | truncate(300) }}</i></p>
                            <dl class="row">

                                <dt class="col-lg-4">Genre</dt>
                                <dd class="col-lg-8">
                                    {% for genre in event.movie.genres %}
                                        {{ genre.name }}{% if loop.last %}{% else %},{% endif %}
                                    {% endfor %}
                                </dd>

                                <dt class="col-lg-4">Originaltitel</dt>
                                <dd class="col-lg-8">{{ event.movie.originalTitle }}</dd>

                                <dt class="col-lg-4">Produktionsland</dt>
                                <dd class="col-lg-8">
                                    {% for productionCountrie in event.movie.productionCountries %}
                                        {{ productionCountrie.name }}{% if loop.last %}{% else %},{% endif %}
                                    {% endfor %}
                                </dd>

                                <dt class="col-lg-4">Spielzeit</dt>
                                <dd class="col-lg-8">{{ event.movie.runtime }} Min.</dd>

                                <dt class="col-lg-4">FSK</dt>
                                <dd class="col-lg-8">{{ event.certification }} Jahre</dd>

                                <dt class="col-lg-4">Kategorie</dt>
                                <dd class="col-lg-8"><i class="fas {% if event.category == 'documentation' %}fa-book{% else %}fa-film{% endif %}"></i></dd>
                            </dl>
                        {% else %}
                            <h2>{{ event.custom.title }}</h2>
                            <h5>Handlung</h5>
                            <blockquote class="blockquote">
                                <p>{{ event.custom.tagline }}</p>
                            </blockquote>
                            <p><i>{{ event.custom.overview }}</i></p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

        </div>
    </main>

    <!-- Modal -->
    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="videoModalTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    <style>
        .movie-card {
            box-shadow: 0 0px 4px rgba(0,0,0,0.1);
            margin-bottom: 2em;
            background: #d0eeee;
        }

        .bg-archive {
            background: #d4d4d4;
        }

        .bg-archive:first-line {
            margin-top: 300px;
        }

        .img-wrapper {
            position: relative;
            width: 100%;
        }

        .img-overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
        }

        .img-overlay:before {
            content: ' ';
            display: block;
            height: 40%;
        }

        .jumbotron {
            border-radius: 0;
            background-color: #000;
        }

        body {
            background: #000;
        }

    </style>
{% endblock %}
{% block javascripts %}
    <script>
        $('#videoModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var videoKey = button.data('video-key');
            var videoTitle = button.data('video-title');
            var modal = $(this);
            modal.find('iframe').attr('src', 'https://www.youtube.com/embed/' + videoKey + "?autoplay=1");
            modal.find('#videoModalTitle').text(videoTitle);
        });
        $('#videoModal').on('hidden.bs.modal', function (event) {
            var modal = $(this);
            modal.find('iframe').removeAttr('src');
        });
    </script>
{% endblock %}
